<fieldset class="cr-fieldset identify-product-options">

    <div class="row cr-question">
        <div class="span3 cr-label">
            <label>
                Please provide as much information as you want to share to help the company find you in their system and respond to your complaint.
                <small class="inline">
                  (optional)
                </small>
            </label>

        </div>

        <div class="span9 cr-answer cr-radios cr-behalf prodselect">
            <label class="radio block">
                <input type="radio" class='identify-account identification-type loan-number' name="identify-account" value="loan-number">
                Loan number
            </label>

            <label class="radio block">
                <input type="radio" class='identify-account identification-type account-number' name="identify-account" value="account-number">
                Account number
            </label>

            <label class="radio block last">
                <input type="radio" class='identify-account identification-type residence-address' name="identify-account" value="residence-address">
                Residence address
            </label>

            <label class="radio block last">
                <input type="radio" class='identify-account identification-type billing-address' name="identify-account" value="billing-address">
                Billing address
            </label>

        </div>
    </div>

</fieldset>
